.nav {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--bright-purple);
  display: grid;
  grid-template-columns: var(--page-columns);
  background-color: var(--background-color);
  z-index: 99;
}

.nav ul {
  display: grid;
  background-color: var(--bright-purple);
  grid-column: 1 / -1;
  grid-template-areas: "one two three";
  grid-gap: 1px;
  gap: 1px;
}

.nav li {
  list-style-type: none;
  color: white;
  text-align: center;
  background-color: var(--background-color);
  font-size: 0.9em;
  font-weight: 500;
}

.nav .projectPage {
  grid-template-areas:
    "top top"
    "left right";
}

.projectPage li[name="/portfolio"] {
  grid-area: top;
}

.projectPage li[name="/portfolio"] .anchor {
  display: inline-block;
  padding-right: 0;
}

.anchor {
  text-decoration: none;
  color: var(--bright-purple);
  font-weight: 500;
  padding: 1.25vh 2vh 1.5vh;
  display: block;
}

.nav .active {
  background-color: var(--bright-purple);
}

.active .anchor {
  color: white;
}

@media (min-width: 699px) {
  .nav {
    position: sticky;
    top: 0;
    border-top: none;
    border-bottom: 1px solid var(--bright-purple);
  }

  .nav ul {
    grid-column: var(--grid-center);
    flex-direction: row;
    display: flex;
    background-color: var(--background-color);
  }

  .nav li {
    padding: 0.1em 1em 0.3em;
    font-size: 1em;
    font-weight: 300;
  }

  .nav li:first-child {
    margin-left: -0.95em;
  }

  .anchor {
    text-decoration: none;
    color: var(--bright-purple);
    font-weight: 300;
    padding: 0;
  }
}
