.nav {
  font-size: 1rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--bright-purple);
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: var(--page-columns);
}

.nav ul {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  grid-column: var(--grid-center);
}

.nav li {
  list-style-type: none;
  padding: 0.1em 1em 0.3em;
  color: white;
}

.anchor {
  text-decoration: none;
  color: var(--bright-purple);
}

.active {
  background-color: var(--bright-purple);
  /* animation: active 0.4s; */
}

.active .anchor {
  color: white;
}

@keyframes active {
  0% {
    background-color: ghostwhite;
  }

  100% {
    background-color: var(--bright-purple);
  }
}
