.container {
  font-size: 1rem;
  display: grid;
  --padding-indent: 0.5rem;
}

.container > * {
  grid-column: var(--grid-center);
}

.container h1 {
  font-size: 1.5em;
  padding: 0 var(--padding-indent);
  margin-bottom: 0;
  margin-left: auto;
  color: black;
}

.container h2 {
  font-size: 1em;
  padding: 0 var(--padding-indent) calc(var(--vert-spacer) * 0.5)
    var(--padding-indent);
  margin-top: calc(var(--vert-spacer) * 1.5);
  border-bottom: 1px solid var(--bright-purple);
  border-bottom: 1px solid black;
  font-weight: 300;
  /* font-style: italic; */
}

.container p + h2 {
  margin-top: calc(var(--vert-spacer) * 2);
}

.container h3,
.container p,
.container h4 {
  padding: 0 var(--padding-indent);
}

.container h3 {
  font-size: 1.2em;
  margin-top: calc(var(--vert-spacer) * 2);
  line-height: 1.15;
  font-weight: 500;
}

.container h4 {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: calc(var(--vert-spacer) * 0.5);
  line-height: 1.1;
}

.container p[class="dates"] + h4,
.container p[class="dates"] + h4 + p[class="dates"] {
  font-size: 1em;
  /* color: #1f1f1f; */
}

.container p[class="dates"] + h4 + p[class="dates"] {
  font-size: 0.875em;
}

/* First item */
.container h3 + p[class="dates"] + h4 {
  /* font-size: 1.1em; */
  margin-top: calc(var(--vert-spacer) * 0.85);
  font-weight: 500;
  color: black;
}

/* .container h3 + p[class="dates"] + h4 + p[class="dates"] {
  font-size: 1em;
} */
.container h4 em {
  /* font-size: 0.75em; */
  font-weight: 300;
}

.container h2 + h3 {
  margin-top: calc(var(--vert-spacer) * 1);
}

.container h3 + h4 {
  margin-top: calc(var(--vert-spacer) * 0.5);
}

.container h3 + p {
  margin-top: calc(var(--vert-spacer) * 0.5);
}

.container h4 + p[class="dates"] + p {
  margin-top: calc(var(--vert-spacer) * 0.75);
}

.container ul {
  padding-inline-start: 4ch;
  margin-top: calc(var(--vert-spacer) * 0.25);
  padding-right: var(--padding-indent);
}

.container h2 + ul {
  margin-top: calc(var(--vert-spacer) * 0.75);
}

.container p {
  font-size: 1em;
  margin-top: var(--vert-spacer);
  margin-bottom: 0;
  line-height: 1.3;
}

@media (min-width: 700px) {
  .container h3 + ul {
    column-count: 3;
  }
}

.container em {
  font-style: normal;
  font-weight: 500;
}

.container a {
  color: var(--bright-purple);
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container p:first-of-type a:hover {
  color: var(--bright-purple);
}

.container li::marker {
  font-size: 0.9em;
}

.container header {
  text-align: right;
  color: var(--bright-purple);
  /* margin-bottom: var(--vert-spacer); */
}

.container header p {
  margin-top: 0;
}

.container h3 + p[class="dates"] {
  margin-top: 0.1em;
}

.container h4 + p[class="dates"] {
  margin-top: 0.1em;
}

.container p[class="dates"] {
  font-size: 0.95em;
}

.container h4 + p[class="dates"] + ul {
  margin-top: var(--vert-spacer);
}

.container h4 + p[class="dates"] + ul li {
  line-height: 1.3;
  margin-bottom: calc(var(--vert-spacer) * 0.8);
}

.container li:last-child {
  margin-bottom: 0 !important;
}

@media (min-width: 700px) {
  .container ul {
    padding-inline-start: var(--padding-indent);
  }
  .container li::marker {
    content: "–   ";
    font-weight: 500;
  }
}

.container section {
  page-break-inside: avoid;
}

.container section li {
  line-height: 1.3;
  margin-bottom: calc(var(--vert-spacer) * 0.8);
}

.container section[id="skills"] li {
  margin-bottom: 6px;
}

@media print {
  .container {
    font-size: 10.5pt;
    display: block;
    margin: 7.5mm;
    --vert-spacer: 0.75em;
  }

  .container a[href]:after {
    content: " (" attr(href) ")";
    color: black;
  }
  .container *[class="online-only"] {
    display: none;
  }
  .container header a[href]:after {
    content: none;
  }

  .container section li {
    margin-bottom: calc(var(--vert-spacer) * 0.5) !important;
  }
}
/* .container section[id="skills"] {
  display: grid;
  grid-template-areas:
    "title title title"
    "dev creative content"
    "dev2 creative2 content2";
  grid-template-columns: 1fr 1fr 1fr;
}
.container section[id="skills"] h2 {
  grid-area: title;
} */
