:root {
  font-size: 14pt;
  --max-paragraph-width: 60ch;
  --vert-spacer: 0.8rem;

  --bright-purple: #6500ff;
  --select-purple: rgba(102, 0, 255, 0.2);

  --background-color: ghostwhite;
  --background-color: white;

  --page-columns: 0.2fr 0.1fr min(var(--max-paragraph-width), 100%) 0.2fr 0.5fr;
  --grid-center: 3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: freight-text-pro, serif;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--background-color);
}

p {
  font-size: 1em;
  margin-top: var(--vert-spacer);
  line-height: 1.3;
}

a {
  color: var(--bright-purple);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  font-size: 1rem;
  display: grid;
  grid-template-columns: var(--page-columns);
  --grid-center: 3;
  --vert-spacer: 0.8rem;
  margin: calc(var(--vert-spacer) * 2) 0;
}

main > * {
  grid-column: var(--grid-center);
}

video {
  width: 100%;
  grid-column: 2 / 5;
}

div.image {
  grid-column: 2 / 5;
}

img {
  width: 100%;
}
/* ::selection {
  color: white;
  background: var(--bright-purple);
  color: black;
  background: var(--select-purple);
} */
