:root {
  font-size: 14pt;
  --max-paragraph-width: 60ch;
  --vert-spacer: 0.8rem;
  --content-margin: 2.5vh;

  --bright-purple: #6500ff;
  --select-purple: rgba(102, 0, 255, 0.2);

  --nav-background-color: ghostwhite;
  --background-color: white;

  --page-columns: 0.5fr min(var(--max-paragraph-width), 92%) 0.5fr;
  --grid-center: 2;
  --grid-breakout: 2;
  --grid-bleed: 1 / -1;
}

@media (min-width: 699px) {
  :root {
    --content-margin: calc(var(--vert-spacer) * 2);

    --page-columns: 0.2fr 0.1fr min(var(--max-paragraph-width), 100%) 0.2fr
      0.5fr;
    --grid-center: 3;
    --grid-breakout: 2 / 5;
    --grid-bleed: var(--grid-breakout);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, neue-haas-unica, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: neue-haas-unica, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--background-color);
}

main {
  font-size: 1rem;
  display: grid;
  grid-template-columns: var(--page-columns);
  margin: var(--content-margin) 0;
}

main > * {
  grid-column: var(--grid-center);
}

main h1 {
  margin-bottom: var(--vert-spacer);
  margin-left: -2px;
  line-height: 1.2;
  font-weight: 500;
}

main p {
  font-size: 1em;
  margin-bottom: var(--vert-spacer);
  line-height: 1.3;
}

main code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  white-space: nowrap;
  font-size: 0.9em;
}

a {
  color: var(--bright-purple);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img,
video {
  width: 100%;
  display: block;
}

aside.media {
  grid-column: var(--grid-breakout);
  margin: calc(var(--vert-spacer) * 0.75) 0;
}

aside.media p {
  color: var(--bright-purple);
  font-size: 0.85em;
  margin-top: 0.5em;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0 4%;
}

aside.media + p {
  margin-top: var(--vert-spacer);
}

.media.bleed {
  grid-column: var(--grid-bleed);
}

/* */

#woods-walk {
  max-height: min(85vw, 45vh);
  object-fit: cover;
  object-position: 50% 55%;
}
